<button class="bg-black text-white active:bg-black font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
    Ajouter un cours
</button>
<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-2xl">
      <div class="container">
        <form (ngSubmit)="createCard()" class="container__loginbox">
            <h1 class="container__loginbox--title">Ajouter un cours</h1>
            <div class="container__loginbox--inputcontainer">
                <label class="container__loginbox--inputcontainer-label"  for="">Nom :</label>
                <input class="container__loginbox--inputcontainer-input" name="name" type="text" [(ngModel)]="name">
            </div>
            <div class="container__loginbox--inputcontainer">
                <label class="container__loginbox--inputcontainer-label" for="">Description :</label>
                <input class="container__loginbox--inputcontainer-input" name="description" type="text" [(ngModel)]="description">
            </div>
            <div class="container__loginbox--inputcontainer">
                <label class="container__loginbox--inputcontainer-label" for="">Image :</label>
                <input name="file" type="file" (change)="onFileSelected($event)">
            </div>
            <button class="container__loginbox--button" type="submit">Ajouter</button>
            <button class="container__loginbox--button" style="background: red;" (click)="toggleModal()" type="submit">Annuler</button>
        </form>  
    </div>
    </div>
  </div>
  <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>`