<div class="header">
  <h2 class="header__logo">
    <a *ngIf="isAuth" (click)="checkiFiSAuth()" class="header__logo--link" [routerLink]="['/']">JEFF COURSES</a>
    <a *ngIf="!isAuth" (click)="checkiFiSAuth()" class="header__logo--link" [routerLink]="['/login']">Le Jeff Quizz</a>
  </h2>
  <div class="header__buttons">
    <button *ngIf="!isAuth" [routerLink]="['/login']" class="header__buttons--button">Connexion</button>
    <button *ngIf="!isAuth"  [routerLink]="['/subscribe']" class="header__buttons--button subscribe">Inscription</button>
    <button *ngIf="isAuth" (click)="disconect()" class="header__buttons--button">Déconnexion</button>
  </div>
</div>
<router-outlet></router-outlet>
