<div class="container">
    <form (ngSubmit)="subscribe()" class="container__loginbox">
        <h1 class="container__loginbox--title">Inscription</h1>
        <div class="container__loginbox--inputcontainer">
            <label class="container__loginbox--inputcontainer-label"  for="">Email :</label>
            <input class="container__loginbox--inputcontainer-input" name="email" type="email" [(ngModel)]="email">
        </div>
        <div class="container__loginbox--inputcontainer">
            <label class="container__loginbox--inputcontainer-label" for="">Mot de passe :</label>
            <input class="container__loginbox--inputcontainer-input" name="password" type="password" [(ngModel)]="password">
        </div>
        <button class="container__loginbox--button" type="submit">S'inscrire</button>
        <p class="container__loginbox--subscribe">Déja un compte ? <a [routerLink]="['/login']" class="subscribe">Connectez-vous</a></p>
    </form>  
</div>