<section class="dashboard">
    <div class="dashboard__courses">
        <div class="dashboard__courses--header">
            <h2 class="dashboard__courses--header-title">Mes cours</h2>
            <app-modal-add-card></app-modal-add-card>
        </div>
        <div class="dashboard__courses--list">
            <div *ngFor="let item of listOfCards | keyvalue">
                <app-course-card [name]="item.value.name" [description]="item.value.description" [image]="item.value.image"></app-course-card>
            </div>
        </div>
    </div>
</section>
